#navigationbar{
    margin-bottom:50px;
}

#movies{
    padding-left:100px;
}

img {
    width: 300px;
    height: 450px;
    box-shadow: 0 0 30px black;
}

#movieTitle{

    margin-top: 10px;
    font-weight: bold;
}

#ratingsPanel{
    width:300px;
}

.col-md-4 {
    margin-top: 50px;
}

body {
    /*text-align: center;*/
    width:100%;
    height:100%;
}

#reviewStats{
    height:85%;
    position:fixed;
    top: 10%;
    right: 5px;
    float:right;
}


.glyphicon-star-empty, .glyphicon-star{
    cursor:pointer;
    color: #78bdeb;
}
